<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!winner">
    <h3>{{playerNow}}</h3>
    <h5>is choosing now!</h5>
  </div>
  <h6 *ngIf="winner">Winner is {{winner}}!!!</h6>

  <div class="grid">
    <ng-container *ngFor="let i of jungkook; index as x">
      <div
        class="box"
        [class.selected]="j !== ''"
        *ngFor="let j of i; index as y"
        (click)="j !== 'X' && j!== 'O' && !gameOver && selectBox(x,y)"
      >
        <div>{{ j }}</div>
      </div>
    </ng-container>
  </div>

  <div class="btn" (click)="reset()" *ngIf="gameOver || steps === 0">
    Reset game!
  </div>
</ion-content>
