<ion-content class="ion-padding">
  <h5 *ngIf="!winner">{{playerNow}}'s turn now!</h5>
  <h5 *ngIf="winner">{{ winner }} wins!</h5>
  <h5 *ngIf="steps === 0 && !winner">Game Over</h5>

  <div class="grid">
    <ng-container *ngFor="let i of boxes; index as x">
      <div
        class="box"
        [class.selected]="j !== ''"
        *ngFor="let j of i; index as y"
        (click)="j !== 'X' && j!== 'O' && !gameOver && selectBox(x,y)"
      >
        <div>{{ j }}</div>
      </div>
    </ng-container>
  </div>

  <div class="btn" (click)="reset()" *ngIf="gameOver || steps === 0">
    try again
  </div>
</ion-content>
