.grid {
  grid-template: auto/auto auto auto;
  display: grid;
  width: fit-content;
  margin: 60px auto;

  .box {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
      background: white;
      color: black;
    }
  }
}

.btn {
  background: white;
  border-radius: 3px;
  padding: 8px 33px;
  color: black;
  margin: auto;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
}
